@media screen and (min-width:200px) and (max-width:700px){
  .bio{
    margin-top: -8rem;
    padding-top: 2rem;
    width: 100vw;
 
  }
  .bio__text{
    width: 100vw;
  }
  .bio__content{
    width: 95vw;
    border: solid black 1px;
   
  }
}

@media screen and (min-width:375px) and (max-width:700px){
  .bio{
    margin-top: -14rem;
    padding-top: 2rem;
    width: 100vw;
 
  }
  .bio__text{
    width: 100vw;
  }
  .bio__content{
    width: 95vw;
    border: solid black 1px;
   
  }
}

@media screen and (min-width:390px) and (max-width:700px){
  .bio{
    margin-top: -24rem;
    padding-top: 2rem;
    width: 100vw;
 
  }
  .bio__text{
    width: 100vw;
  }
  .bio__content{
    width: 95vw;
    border: solid black 1px;
   
  }
}

@media screen and (min-width:414px) and (max-width:700px){
  .bio{
    margin-top: -26rem;
    padding-top: 2rem;
    width: 100vw;
 
  }
  .bio__text{
    width: 100vw;
  }
  .bio__content{
    width: 95vw;
    border: solid black 1px;
   
  }
}

