body{
  background-image: url('../../../public/images/tech.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bio{
  width: 100vw;
  height: 300px;
  background-color: #EAF2FD;
  /* flex-box */
  display: flex;
  justify-content: left;
}
.bio__text{
  width: 50vw;
  display: flex;
  justify-content: right;
}
 .bio__content{
  width: 45vw;
  height: 180px;
  
 }