@media screen and (min-width:200px) and (max-width:700px){
    .stacks{
      flex-wrap: wrap;
      width: 100vw;
     }
    .stack__html{
      width: 100px;
      height: 90px;
      margin-left: 6px;
    }
    .stack__css{
      width: 100px;
      height: 90px;
      margin-left: 6px;
    }
    .stack__js{
      width: 100px;
      height: 90px;
      margin-left: 6px;
    }
    .stack__node{
      width: 100px;
      height: 90px;
      margin-left: 6px;
    }   
    .stack__react{
      width: 100px;
      height: 90px;
      margin-left: 6px;  
    }   
    .stack__git{
      width: 100px;
      height: 90px;
      margin-left: 6px;
    }
    .stack__mysql{
      width: 100px;
      height: 90px;
      margin-left: 6px;
    }   
}

 @media screen and (min-width:700px) and (max-width:900px){
  .stacks{
    flex-wrap: wrap;
    
    width: 100vw;
   }    
   .stack__html{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }
  .stack__css{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }
  .stack__js{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }
  .stack__node{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }   
  .stack__react{
    width: 120px;
    height: 100px;
    margin-left: 6px;  
  }   
  .stack__git{
    width: 120px;
    height: 100px;
    margin-left: -16px; 
  }
  .stack__mysql{
    width: 120px;
    height: 100px;
    margin-left: -16px;
  }   
} 
@media screen and (min-width:900px){
  .stacks{
    flex-wrap: wrap;
   
    width: 100vw;
   }    
   .stack__html{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }
  .stack__css{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }
  .stack__js{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }
  .stack__node{
    width: 120px;
    height: 100px;
    margin-left: 6px;
  }   
  .stack__react{
    width: 120px;
    height: 100px;
    margin-left: 6px;  
  }   
  .stack__git{
    width: 120px;
    height: 100px;
    margin-left: -16px; 
  }
  .stack__mysql{
    width: 120px;
    height: 100px;
    margin-left: -16px;
  }
}