.title{
  text-align: center;
  background-color: #FFFFFF;
}
.stacks{
  /* border: solid black 1px; */
  display: flex;
  justify-content:space-around;
  gap: 2rem;
  background-color: #FFFFFF;
}
.stack__html{
  margin-left: 4rem;
  background-image: url('../../../public/images/html.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.stack__css{
  background-image: url('../../../public/images/css.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.stack__js{
  background-image: url('../../../public/images/js.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.stack__node{
  background-image: url('../../../public/images/node.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.stack__react{
  background-image: url('../../../public/images/react.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.stack__git{
  background-image: url('../../../public/images/git.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.stack__mysql{
  background-image: url('../../../public/images/mysql.png');
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
