.header{
  width: 100vw;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  background-color:#F5F5F5;  
}
.header__name{
  width: 20vw;
  height: 10vh;
  /* box-model */
  padding-left: 6rem;
  margin-top: 1rem;
}
.header__name h3{
  font-family: Arial, Helvetica, sans-serif;
  color: #464646;
}

.header__nav{
  width: 40vw;
  height: 10vh;
  display: flex;
  /* box-model */
  margin-top: 1rem;
 }

 .header__nav-list{
  display: flex;
  padding:  0 3rem;
 }

.header__nav-list li{
  padding:  0 1rem;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif; 
}

.header__nav a{
  text-decoration: none;
  color: #464646;
}
.section__sobre{
  width: 100vw;
  /* height: 60vh; */
  margin-top: -20rem;
  display: flex;
  justify-content: space-around;
  
}
.section__text{
  width: 50vw;
  /* height: 30vh; */
  margin-left: -2rem;
}
.section__title{
  padding-left: 3rem;
 
}
.section__text p{
  padding-left: 3rem;
}
.navPerfil{
  display: flex;
  list-style: none;
  margin-left: -0.50rem;

}
.navPerfil a{
  margin: 0 1rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; 
  color:#464646 ;
}
.section__photo{
  width: 40vw;
  /* height: 30vh; */
  margin-top: -3.5rem;
}
.photo{
  width: 40%;
  height:30vh ;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url('../../../public/images/gabriel.jpeg'); 
  background-size: cover; 
}
