@media screen and (min-width:200px) and (max-width:700px){
  header{
    height: 65vh;
  }
  .iten{
    display: none;
  }
  .top__name h2{
    width: 20vw;
    margin-top: 0;
    margin-right: 6rem;
  }
  .top__list{
    font-size: 0.90rem;
    margin-top: 0.95rem;    
  }
  .top__list li a{
    text-decoration: none;
    color: #464646;
  }
  
  .sobre__photo{
    display: none;
  }
  .sobre{ /*pai*/
    width: 100vw;
    justify-content: center;
  }
  .sobre__text {
    width: 90vw;
    margin-top: 0.70rem;
  }
  .sobre__text h1{
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
  .sobre__text p{
     margin-top: -1rem;
  }
  .sobre__text h1{
    font-size: 1.2rem;
  }
  .sobre__link-itens{
    width: 90vw;
    margin-top: 0.80rem;
  }
  h2{
    font-size: 1rem;
  }
  .photo{
    margin-top: 2rem;
    background-image: url('../../../public/images/gabriel.jpeg');
    border-radius: 50%;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}   