@media screen and (min-width:200px) and (max-width:700px){
  header{
    height: 90vh;
  }
  .iten{
    display: none;
  }
  .top__name h2{
    width: 20vw;
    margin-top: 0;
    margin-right: 6rem;
  }
  .top__list{
    font-size: 0.90rem;
    margin-top: 0.95rem;    
  }
  .top__list li a{
    text-decoration: none;
    color: #464646;
  }
  
  .sobre__photo{
    display: none;
  }
  .sobre{ /*pai*/
    width: 100vw;
    justify-content: center;
  }
  .sobre__text {
    width: 90vw;
    margin-top: 0.70rem;
  }
  .sobre__text h1{
    margin-top: -1rem;
    padding-bottom: 1rem;
  }
  .sobre__text p{
     margin-top: -1rem;
  }
  .sobre__text h1{
    font-size: 1.2rem;
  }
  .sobre__link-itens{
    width: 90vw;
    
    border: solid black 1px;
    margin-top: 0.80rem;
    padding-bottom: 1rem;
    
  }
  h2{
    font-size: 1rem;
  }
  .photo{
    margin-top: 2rem;
    background-image: url('../../../public/images/gabriel.jpeg');
    border-radius: 50%;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}   

/* tablets*/
@media screen and (min-width:700px) and (max-width:900px){
  .top__list .iten{
    display: none;
  }
  .top__list li a{
    color: #464646;
    text-decoration:  none;
  
  }
  .sobre__text{
    margin-left: -2rem;
    width: 65vw;
  }
  .sobre__photo{
    width: 180px;
    height: 180px;
  }
  .sobre__link-itens{
    width: 60vw;
  }
}
/* desktop */
@media screen and (min-width:900px) and (max-width:3000px){
  
  .top__list li a{
    color: #464646;
    text-decoration: none; 
  }
  .sobre__text{
    margin-left: 0.60rem;
    width: 80vw;
  }
  .sobre__text p{
    font-size: 1.55rem;
    font-family: 'Times New Roman', Times, serif;
  }
  .sobre__photo{
    width: 200px;
    height: 200px;    
    margin-left: 1rem;
  }
  .sobre__link-itens{
    width: 50vw;
    height: 36vh;
  }
}